<mat-card>
<mat-toolbar color="primary" id="titulo">Editar Curso</mat-toolbar>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Curso</mat-label>
        <input matInput placeholder="Digite o nome curso" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Categoria</mat-label>
        <input matInput placeholder="Digite a categoria" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">

      </mat-form-field> <div class="example-button-row">
        <button mat-raised-button (click)="cancel()">Cancelar</button>
        <button mat-raised-button	color="primary" (click)="atualizarCurso()">Salvar</button>

      </div>
  </form>
</mat-card>
