  <mat-toolbar color="primary">Editar Curso</mat-toolbar>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Curso</mat-label>
        <input matInput placeholder="Digite o nome curso">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Categoria</mat-label>
        <input matInput placeholder="Digite a categoria">
      </mat-form-field> <div class="example-button-row">
        <button mat-button color="primary">Salvar</button>
      </div>
  </form>
